#section-mid{
    background-image: url(../images/fleetwood.jpg);
    text-align: center;
    color: black;
    font-size: larger;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
}
#word-display {
    font-size: 30px;
}
.remainingGuess {
    color: white;
}
#maxguesses {
    color: white;
    font-size: 25px;
}
.guessedLetters {
    color: white;
}
#guessLeft {
    color: white;
    font-size: 25px;
}
@media screen and (max-width: 980px) {
    body {
        background-color: yellow;
    }
}

@media screen and (max-width: 768px) {
    body {
        background-color: black;
    }
}

@media screen and (max-width: 640px) {
    body {
        background-color: brown;
    }
}